body{
    background-color: lightblue;
    color: darkblue;
    font-family: Arial;
    margin: 0px;
}

a{
    color: rgb(0, 38, 255);
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: rgb(22, 255, 1);
}
a:visited{
    color: rgb(25, 60, 136);
   
}
a:hover{
    color: rgb(242, 49, 207);
    text-decoration: underline;
    transition: 0,3s;
}
a:active{
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #10ecf076;
    background-color: #10ecf076;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #1ffbffae;
    box-shadow: 0 0 15px #10ecf076;
}
footer{
    background-color: #44dee3b0;
    color: #0b437b76;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
main{
    margin: 10px 20px 100px
}